.pts-sm-0 {
    padding-top: 0 !important;
    padding-left: 0 !important;
}

.pts-sm-1 {
    padding-top: 0.25rem !important;
    padding-left: 0.25rem !important;
}

.pts-sm-2 {
    padding-top: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.pts-sm-3 {
    padding-top: 1rem !important;
    padding-left: 1rem !important;
}

.pts-sm-4 {
    padding-top: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.pts-sm-5 {
    padding-top: 3rem !important;
    padding-left: 3rem !important;
}

.pts-sm-6 {
    padding-top: 4rem !important;
    padding-left: 4rem !important;
}

.pts-sm-7 {
    padding-top: 5rem !important;
    padding-left: 5rem !important;
}

.pts-sm-8 {
    padding-top: 6rem !important;
    padding-left: 6rem !important;
}

.pts-sm-9 {
    padding-top: 7rem !important;
    padding-left: 7rem !important;
}

.pts-sm-10 {
    padding-top: 8rem !important;
    padding-left: 8rem !important;
}

.pts-sm-11 {
    padding-top: 9rem !important;
    padding-left: 9rem !important;
}

.pts-sm-12 {
    padding-top: 10rem !important;
    padding-left: 10rem !important;
}

.pts-sm-13 {
    padding-top: 11rem !important;
    padding-left: 11rem !important;
}

.pts-sm-14 {
    padding-top: 12rem !important;
    padding-left: 12rem !important;
}

.pts-sm-15 {
    padding-top: 13rem !important;
    padding-left: 13rem !important;
}

.pts-sm-16 {
    padding-top: 14rem !important;
    padding-left: 14rem !important;
}

.pts-sm-17 {
    padding-top: 15rem !important;
    padding-left: 15rem !important;
}

.pts-sm-18 {
    padding-top: 16rem !important;
    padding-left: 16rem !important;
}

.pts-sm-19 {
    padding-top: 17rem !important;
    padding-left: 17rem !important;
}

.pts-sm-20 {
    padding-top: 18rem !important;
    padding-left: 18rem !important;
}

.pts-sm-21 {
    padding-top: 19rem !important;
    padding-left: 19rem !important;
}

.pts-sm-22 {
    padding-top: 20rem !important;
    padding-left: 20rem !important;
}

.pts-sm-23 {
    padding-top: 21rem !important;
    padding-left: 21rem !important;
}

.pts-sm-24 {
    padding-top: 22rem !important;
    padding-left: 22rem !important;
}

.pts-sm-25 {
    padding-top: 23rem !important;
    padding-left: 23rem !important;
}

.pts-sm-26 {
    padding-top: 24rem !important;
    padding-left: 24rem !important;
}

.pts-sm-27 {
    padding-top: 25rem !important;
    padding-left: 25rem !important;
}

.pts-sm-28 {
    padding-top: 26rem !important;
    padding-left: 26rem !important;
}

.pts-sm-29 {
    padding-top: 27rem !important;
    padding-left: 27rem !important;
}

.pts-sm-30 {
    padding-top: 28rem !important;
    padding-left: 28rem !important;
}

.pts-sm-31 {
    padding-top: 29rem !important;
    padding-left: 29rem !important;
}

.pts-sm-32 {
    padding-top: 30rem !important;
    padding-left: 30rem !important;
}

.pts-sm-33 {
    padding-top: 31rem !important;
    padding-left: 31rem !important;
}

.pts-sm-34 {
    padding-top: 32rem !important;
    padding-left: 32rem !important;
}

.pts-sm-35 {
    padding-top: 33rem !important;
    padding-left: 33rem !important;
}

.pts-sm-36 {
    padding-top: 34rem !important;
    padding-left: 34rem !important;
}

.pts-sm-37 {
    padding-top: 35rem !important;
    padding-left: 35rem !important;
}

.pts-sm-38 {
    padding-top: 36rem !important;
    padding-left: 36rem !important;
}

.pts-sm-39 {
    padding-top: 37rem !important;
    padding-left: 37rem !important;
}

.pts-sm-40 {
    padding-top: 38rem !important;
    padding-left: 38rem !important;
}

.pts-sm-41 {
    padding-top: 39rem !important;
    padding-left: 39rem !important;
}

.pts-sm-42 {
    padding-top: 40rem !important;
    padding-left: 40rem !important;
}

.pts-sm-43 {
    padding-top: 41rem !important;
    padding-left: 41rem !important;
}

.pts-sm-44 {
    padding-top: 42rem !important;
    padding-left: 42rem !important;
}

.pts-sm-45 {
    padding-top: 43rem !important;
    padding-left: 43rem !important;
}

.pts-sm-46 {
    padding-top: 44rem !important;
    padding-left: 44rem !important;
}

.pts-sm-47 {
    padding-top: 45rem !important;
    padding-left: 45rem !important;
}

.pts-sm-48 {
    padding-top: 46rem !important;
    padding-left: 46rem !important;
}

.pts-sm-49 {
    padding-top: 47rem !important;
    padding-left: 47rem !important;
}

.pts-sm-50 {
    padding-top: 48rem !important;
    padding-left: 48rem !important;
}


.pte-sm-0{
    padding-top: 0 !important;
    padding-right: 0 !important;
}

.pte-sm-1{
    padding-top: 0.25rem !important;
    padding-right: 0.25rem !important;
}

.pte-sm-2{
    padding-top: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.pte-sm-3{
    padding-top: 1rem !important;
    padding-right: 1rem !important;
}

.pte-sm-4{
    padding-top: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.pte-sm-5{
    padding-top: 3rem !important;
    padding-right: 3rem !important;
}

.pte-sm-6{
    padding-top: 4rem !important;
    padding-right: 4rem !important;
}

.pte-sm-7 {
    padding-top: 5rem !important;
    padding-right: 5rem !important;
}

.pte-sm-8 {
    padding-top: 6rem !important;
    padding-right: 6rem !important;
}

.pte-sm-9 {
    padding-top: 7rem !important;
    padding-right: 7rem !important;
}

.pte-sm-10 {
    padding-top: 8rem !important;
    padding-right: 8rem !important;
}

.pte-sm-11 {
    padding-top: 9rem !important;
    padding-right: 9rem !important;
}

.pte-sm-12 {
    padding-top: 10rem !important;
    padding-right: 10rem !important;
}

.pte-sm-13 {
    padding-top: 11rem !important;
    padding-right: 11rem !important;
}

.pte-sm-14 {
    padding-top: 12rem !important;
    padding-right: 12rem !important;
}

.pte-sm-15 {
    padding-top: 13rem !important;
    padding-right: 13rem !important;
}

.pte-sm-16 {
    padding-top: 14rem !important;
    padding-right: 14rem !important;
}

.pte-sm-17 {
    padding-top: 15rem !important;
    padding-right: 15rem !important;
}

.pte-sm-18 {
    padding-top: 16rem !important;
    padding-right: 16rem !important;
}

.pte-sm-19 {
    padding-top: 17rem !important;
    padding-right: 17rem !important;
}

.pte-sm-20 {
    padding-top: 18rem !important;
    padding-right: 18rem !important;
}

.pte-sm-21 {
    padding-top: 19rem !important;
    padding-right: 19rem !important;
}

.pte-sm-22 {
    padding-top: 20rem !important;
    padding-right: 20rem !important;
}

.pte-sm-23 {
    padding-top: 21rem !important;
    padding-right: 21rem !important;
}

.pte-sm-24 {
    padding-top: 22rem !important;
    padding-right: 22rem !important;
}

.pte-sm-25 {
    padding-top: 23rem !important;
    padding-right: 23rem !important;
}

.pte-sm-26 {
    padding-top: 24rem !important;
    padding-right: 24rem !important;
}

.pte-sm-27 {
    padding-top: 25rem !important;
    padding-right: 25rem !important;
}

.pte-sm-28 {
    padding-top: 26rem !important;
    padding-right: 26rem !important;
}

.pte-sm-29 {
    padding-top: 27rem !important;
    padding-right: 27rem !important;
}

.pte-sm-30 {
    padding-top: 28rem !important;
    padding-right: 28rem !important;
}

.pte-sm-31 {
    padding-top: 29rem !important;
    padding-right: 29rem !important;
}

.pte-sm-32 {
    padding-top: 30rem !important;
    padding-right: 30rem !important;
}

.pte-sm-33 {
    padding-top: 31rem !important;
    padding-right: 31rem !important;
}

.pte-sm-34 {
    padding-top: 32rem !important;
    padding-right: 32rem !important;
}

.pte-sm-35 {
    padding-top: 33rem !important;
    padding-right: 33rem !important;
}

.pte-sm-36 {
    padding-top: 34rem !important;
    padding-right: 34rem !important;
}

.pte-sm-37 {
    padding-top: 35rem !important;
    padding-right: 35rem !important;
}

.pte-sm-38 {
    padding-top: 36rem !important;
    padding-right: 36rem !important;
}

.pte-sm-39 {
    padding-top: 37rem !important;
    padding-right: 37rem !important;
}

.pte-sm-40 {
    padding-top: 38rem !important;
    padding-right: 38rem !important;
}

.pte-sm-41 {
    padding-top: 39rem !important;
    padding-right: 39rem !important;
}

.pte-sm-42 {
    padding-top: 40rem !important;
    padding-right: 40rem !important;
}

.pte-sm-43 {
    padding-top: 41rem !important;
    padding-right: 41rem !important;
}

.pte-sm-44 {
    padding-top: 42rem !important;
    padding-right: 42rem !important;
}
.pte-sm-45 {
    padding-top: 43rem !important;
    padding-right: 43rem !important;
}

.pte-sm-46 {
    padding-top: 44rem !important;
    padding-right: 44rem !important;
}

.pte-sm-47 {
    padding-top: 45rem !important;
    padding-right: 45rem !important;
}

.pte-sm-48 {
    padding-top: 46rem !important;
    padding-right: 46rem !important;
}

.pte-sm-49 {
    padding-top: 47rem !important;
    padding-right: 47rem !important;
}

.pte-sm-50 {
    padding-top: 48rem !important;
    padding-right: 48rem !important;
}

.pbs-sm-0{
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}

.pbs-sm-1{
    padding-bottom: 0.25rem !important;
    padding-left: 0.25rem !important;
}

.pbs-sm-2{
    padding-bottom: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.pbs-sm-3{
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
}

.pbs-sm-4{
    padding-bottom: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.pbs-sm-5{
    padding-bottom: 3rem !important;
    padding-left: 3rem !important;
}

.pbs-sm-6{
    padding-bottom: 4rem !important;
    padding-left: 4rem !important;
}

.pbs-sm-7{
    padding-bottom: 5rem !important;
    padding-left: 5rem !important;
}

.pbs-sm-8 {
    padding-bottom: 6rem !important;
    padding-left: 6rem !important;
}

.pbs-sm-9 {
    padding-bottom: 7rem !important;
    padding-left: 7rem !important;
}

.pbs-sm-10 {
    padding-bottom: 8rem !important;
    padding-left: 8rem !important;
}

.pbs-sm-11 {
    padding-bottom: 9rem !important;
    padding-left: 9rem !important;
}

.pbs-sm-12 {
    padding-bottom: 10rem !important;
    padding-left: 10rem !important;
}

.pbs-sm-13 {
    padding-bottom: 11rem !important;
    padding-left: 11rem !important;
}

.pbs-sm-14 {
    padding-bottom: 12rem !important;
    padding-left: 12rem !important;
}

.pbs-sm-15 {
    padding-bottom: 13rem !important;
    padding-left: 13rem !important;
}

.pbs-sm-16 {
    padding-bottom: 14rem !important;
    padding-left: 14rem !important;
}

.pbs-sm-17 {
    padding-bottom: 15rem !important;
    padding-left: 15rem !important;
}

.pbs-sm-18 {
    padding-bottom: 16rem !important;
    padding-left: 16rem !important;
}

.pbs-sm-19 {
    padding-bottom: 17rem !important;
    padding-left: 17rem !important;
}

.pbs-sm-20 {
    padding-bottom: 18rem !important;
    padding-left: 18rem !important;
}

.pbs-sm-21 {
    padding-bottom: 19rem !important;
    padding-left: 19rem !important;
}

.pbs-sm-22 {
    padding-bottom: 20rem !important;
    padding-left: 20rem !important;
}

.pbs-sm-23 {
    padding-bottom: 21rem !important;
    padding-left: 21rem !important;
}

.pbs-sm-24 {
    padding-bottom: 22rem !important;
    padding-left: 22rem !important;
}

.pbs-sm-25 {
    padding-bottom: 23rem !important;
    padding-left: 23rem !important;
}

.pbs-sm-26 {
    padding-bottom: 24rem !important;
    padding-left: 24rem !important;
}

.pbs-sm-27 {
    padding-bottom: 25rem !important;
    padding-left: 25rem !important;
}

.pbs-sm-28 {
    padding-bottom: 26rem !important;
    padding-left: 26rem !important;
}

.pbs-sm-29 {
    padding-bottom: 27rem !important;
    padding-left: 27rem !important;
}

.pbs-sm-30 {
    padding-bottom: 28rem !important;
    padding-left: 28rem !important;
}

.pbs-sm-31 {
    padding-bottom: 29rem !important;
    padding-left: 29rem !important;
}

.pbs-sm-32 {
    padding-bottom: 30rem !important;
    padding-left: 30rem !important;
}

.pbs-sm-33 {
    padding-bottom: 31rem !important;
    padding-left: 31rem !important;
}

.pbs-sm-34 {
    padding-bottom: 32rem !important;
    padding-left: 32rem !important;
}

.pbs-sm-35 {
    padding-bottom: 33rem !important;
    padding-left: 33rem !important;
}

.pbs-sm-36 {
    padding-bottom: 34rem !important;
    padding-left: 34rem !important;
}

.pbs-sm-37 {
    padding-bottom: 35rem !important;
    padding-left: 35rem !important;
}

.pbs-sm-38 {
    padding-bottom: 36rem !important;
    padding-left: 36rem !important;
}

.pbs-sm-39 {
    padding-bottom: 37rem !important;
    padding-left: 37rem !important;
}

.pbs-sm-40 {
    padding-bottom: 38rem !important;
    padding-left: 38rem !important;
}

.pbs-sm-41 {
    padding-bottom: 39rem !important;
    padding-left: 39rem !important;
}

.pbs-sm-42 {
    padding-bottom: 40rem !important;
    padding-left: 40rem !important;
}

.pbs-sm-43 {
    padding-bottom: 41rem !important;
    padding-left: 41rem !important;
}

.pbs-sm-44 {
    padding-bottom: 42rem !important;
    padding-left: 42rem !important;
}

.pbs-sm-45 {
    padding-bottom: 43rem !important;
    padding-left: 43rem !important;
}

.pbs-sm-46 {
    padding-bottom: 44rem !important;
    padding-left: 44rem !important;
}

.pbs-sm-47 {
    padding-bottom: 45rem !important;
    padding-left: 45rem !important;
}

.pbs-sm-48 {
    padding-bottom: 46rem !important;
    padding-left: 46rem !important;
}

.pbs-sm-49 {
    padding-bottom: 47rem !important;
    padding-left: 47rem !important;
}

.pbs-sm-50 {
    padding-bottom: 48rem !important;
    padding-left: 48rem !important;
}

.pbe-sm-0{
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}

.pbe-sm-1{
    padding-bottom: 0.25rem !important;
    padding-right: 0.25rem !important;
}

.pbe-sm-2{
    padding-bottom: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.pbe-sm-3{
    padding-bottom: 1rem !important;
    padding-right: 1rem !important;
}

.pbe-sm-4{
    padding-bottom: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.pbe-sm-5{
    padding-bottom: 3rem !important;
    padding-right: 3rem !important;
}

.pbe-sm-6{
    padding-bottom: 4rem !important;
    padding-right: 4rem !important;
}

.pbe-sm-7{
    padding-bottom: 5rem !important;
    padding-right: 5rem !important;
}

.pbe-sm-8 {
    padding-bottom: 6rem !important;
    padding-right: 6rem !important;
}

.pbe-sm-9 {
    padding-bottom: 7rem !important;
    padding-right: 7rem !important;
}

.pbe-sm-10 {
    padding-bottom: 8rem !important;
    padding-right: 8rem !important;
}

.pbe-sm-11 {
    padding-bottom: 9rem !important;
    padding-right: 9rem !important;
}

.pbe-sm-12 {
    padding-bottom: 10rem !important;
    padding-right: 10rem !important;
}

.pbe-sm-13 {
    padding-bottom: 11rem !important;
    padding-right: 11rem !important;
}

.pbe-sm-14 {
    padding-bottom: 12rem !important;
    padding-right: 12rem !important;
}

.pbe-sm-15 {
    padding-bottom: 13rem !important;
    padding-right: 13rem !important;
}

.pbe-sm-16 {
    padding-bottom: 14rem !important;
    padding-right: 14rem !important;
}

.pbe-sm-17 {
    padding-bottom: 15rem !important;
    padding-right: 15rem !important;
}

.pbe-sm-18 {
    padding-bottom: 16rem !important;
    padding-right: 16rem !important;
}

.pbe-sm-19 {
    padding-bottom: 17rem !important;
    padding-right: 17rem !important;
}

.pbe-sm-20 {
    padding-bottom: 18rem !important;
    padding-right: 18rem !important;
}

.pbe-sm-21 {
    padding-bottom: 19rem !important;
    padding-right: 19rem !important;
}

.pbe-sm-22 {
    padding-bottom: 20rem !important;
    padding-right: 20rem !important;
}

.pbe-sm-23 {
    padding-bottom: 21rem !important;
    padding-right: 21rem !important;
}

.pbe-sm-24 {
    padding-bottom: 22rem !important;
    padding-right: 22rem !important;
}

.pbe-sm-25 {
    padding-bottom: 23rem !important;
    padding-right: 23rem !important;
}

.pbe-sm-26 {
    padding-bottom: 24rem !important;
    padding-right: 24rem !important;
}

.pbe-sm-27 {
    padding-bottom: 25rem !important;
    padding-right: 25rem !important;
}

.pbe-sm-28 {
    padding-bottom: 26rem !important;
    padding-right: 26rem !important;
}

.pbe-sm-29 {
    padding-bottom: 27rem !important;
    padding-right: 27rem !important;
}

.pbe-sm-30 {
    padding-bottom: 28rem !important;
    padding-right: 28rem !important;
}

.pbe-sm-31 {
    padding-bottom: 29rem !important;
    padding-right: 29rem !important;
}

.pbe-sm-32 {
    padding-bottom: 30rem !important;
    padding-right: 30rem !important;
}

.pbe-sm-33 {
    padding-bottom: 31rem !important;
    padding-right: 31rem !important;
}

.pbe-sm-34 {
    padding-bottom: 32rem !important;
    padding-right: 32rem !important;
}

.pbe-sm-35 {
    padding-bottom: 33rem !important;
    padding-right: 33rem !important;
}

.pbe-sm-36 {
    padding-bottom: 34rem !important;
    padding-right: 34rem !important;
}

.pbe-sm-37 {
    padding-bottom: 35rem !important;
    padding-right: 35rem !important;
}

.pbe-sm-38 {
    padding-bottom: 36rem !important;
    padding-right: 36rem !important;
}

.pbe-sm-39 {
    padding-bottom: 37rem !important;
    padding-right: 37rem !important;
}

.pbe-sm-40 {
    padding-bottom: 38rem !important;
    padding-right: 38rem !important;
}

.pbe-sm-41 {
    padding-bottom: 39rem !important;
    padding-right: 39rem !important;
}

.pbe-sm-42 {
    padding-bottom: 40rem !important;
    padding-right: 40rem !important;
}

.pbe-sm-43 {
    padding-bottom: 41rem !important;
    padding-right: 41rem !important;
}

.pbe-sm-44 {
    padding-bottom: 42rem !important;
    padding-right: 42rem !important;
}

.pbe-sm-45 {
    padding-bottom: 43rem !important;
    padding-right: 43rem !important;
}

.pbe-sm-46 {
    padding-bottom: 44rem !important;
    padding-right: 44rem !important;
}

.pbe-sm-47 {
    padding-bottom: 45rem !important;
    padding-right: 45rem !important;
}

.pbe-sm-48 {
    padding-bottom: 46rem !important;
    padding-right: 46rem !important;
}

.pbe-sm-49 {
    padding-bottom: 47rem !important;
    padding-right: 47rem !important;
}

.pbe-sm-50 {
    padding-bottom: 48rem !important;
    padding-right: 48rem !important;
}
