.mts-sm-0 {
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.mts-sm-1 {
    margin-top: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.mts-sm-2 {
    margin-top: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.mts-sm-3 {
    margin-top: 1rem !important;
    margin-left: 1rem !important;
}

.mts-sm-4 {
    margin-top: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.mts-sm-5 {
    margin-top: 3rem !important;
    margin-left: 3rem !important;
}

.mts-sm-6 {
    margin-top: 4rem !important;
    margin-left: 4rem !important;
}

.mts-sm-7 {
    margin-top: 5rem !important;
    margin-left: 5rem !important;
}

.mts-sm-8 {
    margin-top: 6rem !important;
    margin-left: 6rem !important;
}

.mts-sm-9 {
    margin-top: 7rem !important;
    margin-left: 7rem !important;
}

.mts-sm-10 {
    margin-top: 8rem !important;
    margin-left: 8rem !important;
}

.mts-sm-11 {
    margin-top: 9rem !important;
    margin-left: 9rem !important;
}

.mts-sm-12 {
    margin-top: 10rem !important;
    margin-left: 10rem !important;
}

.mts-sm-13 {
    margin-top: 11rem !important;
    margin-left: 11rem !important;
}

.mts-sm-14 {
    margin-top: 12rem !important;
    margin-left: 12rem !important;
}

.mts-sm-15 {
    margin-top: 13rem !important;
    margin-left: 13rem !important;
}

.mts-sm-16 {
    margin-top: 14rem !important;
    margin-left: 14rem !important;
}

.mts-sm-17 {
    margin-top: 15rem !important;
    margin-left: 15rem !important;
}

.mts-sm-18 {
    margin-top: 16rem !important;
    margin-left: 16rem !important;
}

.mts-sm-19 {
    margin-top: 17rem !important;
    margin-left: 17rem !important;
}

.mts-sm-20 {
    margin-top: 18rem !important;
    margin-left: 18rem !important;
}

.mts-sm-21 {
    margin-top: 19rem !important;
    margin-left: 19rem !important;
}

.mts-sm-22 {
    margin-top: 20rem !important;
    margin-left: 20rem !important;
}

.mts-sm-23 {
    margin-top: 21rem !important;
    margin-left: 21rem !important;
}

.mts-sm-24 {
    margin-top: 22rem !important;
    margin-left: 22rem !important;
}

.mts-sm-25 {
    margin-top: 23rem !important;
    margin-left: 23rem !important;
}

.mts-sm-26 {
    margin-top: 24rem !important;
    margin-left: 24rem !important;
}

.mts-sm-27 {
    margin-top: 25rem !important;
    margin-left: 25rem !important;
}

.mts-sm-28 {
    margin-top: 26rem !important;
    margin-left: 26rem !important;
}

.mts-sm-29 {
    margin-top: 27rem !important;
    margin-left: 27rem !important;
}

.mts-sm-30 {
    margin-top: 28rem !important;
    margin-left: 28rem !important;
}

.mts-sm-31 {
    margin-top: 29rem !important;
    margin-left: 29rem !important;
}

.mts-sm-32 {
    margin-top: 30rem !important;
    margin-left: 30rem !important;
}

.mts-sm-33 {
    margin-top: 31rem !important;
    margin-left: 31rem !important;
}

.mts-sm-34 {
    margin-top: 32rem !important;
    margin-left: 32rem !important;
}

.mts-sm-35 {
    margin-top: 33rem !important;
    margin-left: 33rem !important;
}

.mts-sm-36 {
    margin-top: 34rem !important;
    margin-left: 34rem !important;
}

.mts-sm-37 {
    margin-top: 35rem !important;
    margin-left: 35rem !important;
}

.mts-sm-38 {
    margin-top: 36rem !important;
    margin-left: 36rem !important;
}

.mts-sm-39 {
    margin-top: 37rem !important;
    margin-left: 37rem !important;
}

.mts-sm-40 {
    margin-top: 38rem !important;
    margin-left: 38rem !important;
}

.mts-sm-41 {
    margin-top: 39rem !important;
    margin-left: 39rem !important;
}

.mts-sm-42 {
    margin-top: 40rem !important;
    margin-left: 40rem !important;
}

.mts-sm-43 {
    margin-top: 41rem !important;
    margin-left: 41rem !important;
}

.mts-sm-44 {
    margin-top: 42rem !important;
    margin-left: 42rem !important;
}

.mts-sm-45 {
    margin-top: 43rem !important;
    margin-left: 43rem !important;
}

.mts-sm-46 {
    margin-top: 44rem !important;
    margin-left: 44rem !important;
}

.mts-sm-47 {
    margin-top: 45rem !important;
    margin-left: 45rem !important;
}

.mts-sm-48 {
    margin-top: 46rem !important;
    margin-left: 46rem !important;
}

.mts-sm-49 {
    margin-top: 47rem !important;
    margin-left: 47rem !important;
}

.mts-sm-50 {
    margin-top: 48rem !important;
    margin-left: 48rem !important;
}


.mte-sm-0{
    margin-top: 0 !important;
    margin-right: 0 !important;
}

.mte-sm-1{
    margin-top: 0.25rem !important;
    margin-right: 0.25rem !important;
}

.mte-sm-2{
    margin-top: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.mte-sm-3{
    margin-top: 1rem !important;
    margin-right: 1rem !important;
}

.mte-sm-4{
    margin-top: 1.5rem !important;
    margin-right: 1.5rem !important;
}

.mte-sm-5{
    margin-top: 3rem !important;
    margin-right: 3rem !important;
}

.mte-sm-6{
    margin-top: 4rem !important;
    margin-right: 4rem !important;
}

.mte-sm-7 {
    margin-top: 5rem !important;
    margin-right: 5rem !important;
}

.mte-sm-8 {
    margin-top: 6rem !important;
    margin-right: 6rem !important;
}

.mte-sm-9 {
    margin-top: 7rem !important;
    margin-right: 7rem !important;
}

.mte-sm-10 {
    margin-top: 8rem !important;
    margin-right: 8rem !important;
}

.mte-sm-11 {
    margin-top: 9rem !important;
    margin-right: 9rem !important;
}

.mte-sm-12 {
    margin-top: 10rem !important;
    margin-right: 10rem !important;
}

.mte-sm-13 {
    margin-top: 11rem !important;
    margin-right: 11rem !important;
}

.mte-sm-14 {
    margin-top: 12rem !important;
    margin-right: 12rem !important;
}

.mte-sm-15 {
    margin-top: 13rem !important;
    margin-right: 13rem !important;
}

.mte-sm-16 {
    margin-top: 14rem !important;
    margin-right: 14rem !important;
}

.mte-sm-17 {
    margin-top: 15rem !important;
    margin-right: 15rem !important;
}

.mte-sm-18 {
    margin-top: 16rem !important;
    margin-right: 16rem !important;
}

.mte-sm-19 {
    margin-top: 17rem !important;
    margin-right: 17rem !important;
}

.mte-sm-20 {
    margin-top: 18rem !important;
    margin-right: 18rem !important;
}

.mte-sm-21 {
    margin-top: 19rem !important;
    margin-right: 19rem !important;
}

.mte-sm-22 {
    margin-top: 20rem !important;
    margin-right: 20rem !important;
}

.mte-sm-23 {
    margin-top: 21rem !important;
    margin-right: 21rem !important;
}

.mte-sm-24 {
    margin-top: 22rem !important;
    margin-right: 22rem !important;
}

.mte-sm-25 {
    margin-top: 23rem !important;
    margin-right: 23rem !important;
}

.mte-sm-26 {
    margin-top: 24rem !important;
    margin-right: 24rem !important;
}

.mte-sm-27 {
    margin-top: 25rem !important;
    margin-right: 25rem !important;
}

.mte-sm-28 {
    margin-top: 26rem !important;
    margin-right: 26rem !important;
}

.mte-sm-29 {
    margin-top: 27rem !important;
    margin-right: 27rem !important;
}

.mte-sm-30 {
    margin-top: 28rem !important;
    margin-right: 28rem !important;
}

.mte-sm-31 {
    margin-top: 29rem !important;
    margin-right: 29rem !important;
}

.mte-sm-32 {
    margin-top: 30rem !important;
    margin-right: 30rem !important;
}

.mte-sm-33 {
    margin-top: 31rem !important;
    margin-right: 31rem !important;
}

.mte-sm-34 {
    margin-top: 32rem !important;
    margin-right: 32rem !important;
}

.mte-sm-35 {
    margin-top: 33rem !important;
    margin-right: 33rem !important;
}

.mte-sm-36 {
    margin-top: 34rem !important;
    margin-right: 34rem !important;
}

.mte-sm-37 {
    margin-top: 35rem !important;
    margin-right: 35rem !important;
}

.mte-sm-38 {
    margin-top: 36rem !important;
    margin-right: 36rem !important;
}

.mte-sm-39 {
    margin-top: 37rem !important;
    margin-right: 37rem !important;
}

.mte-sm-40 {
    margin-top: 38rem !important;
    margin-right: 38rem !important;
}

.mte-sm-41 {
    margin-top: 39rem !important;
    margin-right: 39rem !important;
}

.mte-sm-42 {
    margin-top: 40rem !important;
    margin-right: 40rem !important;
}

.mte-sm-43 {
    margin-top: 41rem !important;
    margin-right: 41rem !important;
}

.mte-sm-44 {
    margin-top: 42rem !important;
    margin-right: 42rem !important;
}
.mte-sm-45 {
    margin-top: 43rem !important;
    margin-right: 43rem !important;
}

.mte-sm-46 {
    margin-top: 44rem !important;
    margin-right: 44rem !important;
}

.mte-sm-47 {
    margin-top: 45rem !important;
    margin-right: 45rem !important;
}

.mte-sm-48 {
    margin-top: 46rem !important;
    margin-right: 46rem !important;
}

.mte-sm-49 {
    margin-top: 47rem !important;
    margin-right: 47rem !important;
}

.mte-sm-50 {
    margin-top: 48rem !important;
    margin-right: 48rem !important;
}

.mbs-sm-0{
    margin-bottom: 0 !important;
    margin-left: 0 !important;
}

.mbs-sm-1{
    margin-bottom: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.mbs-sm-2{
    margin-bottom: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.mbs-sm-3{
    margin-bottom: 1rem !important;
    margin-left: 1rem !important;
}

.mbs-sm-4{
    margin-bottom: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.mbs-sm-5{
    margin-bottom: 3rem !important;
    margin-left: 3rem !important;
}

.mbs-sm-6{
    margin-bottom: 4rem !important;
    margin-left: 4rem !important;
}

.mbs-sm-7{
    margin-bottom: 5rem !important;
    margin-left: 5rem !important;
}

.mbs-sm-8 {
    margin-bottom: 6rem !important;
    margin-left: 6rem !important;
}

.mbs-sm-9 {
    margin-bottom: 7rem !important;
    margin-left: 7rem !important;
}

.mbs-sm-10 {
    margin-bottom: 8rem !important;
    margin-left: 8rem !important;
}

.mbs-sm-11 {
    margin-bottom: 9rem !important;
    margin-left: 9rem !important;
}

.mbs-sm-12 {
    margin-bottom: 10rem !important;
    margin-left: 10rem !important;
}

.mbs-sm-13 {
    margin-bottom: 11rem !important;
    margin-left: 11rem !important;
}

.mbs-sm-14 {
    margin-bottom: 12rem !important;
    margin-left: 12rem !important;
}

.mbs-sm-15 {
    margin-bottom: 13rem !important;
    margin-left: 13rem !important;
}

.mbs-sm-16 {
    margin-bottom: 14rem !important;
    margin-left: 14rem !important;
}

.mbs-sm-17 {
    margin-bottom: 15rem !important;
    margin-left: 15rem !important;
}

.mbs-sm-18 {
    margin-bottom: 16rem !important;
    margin-left: 16rem !important;
}

.mbs-sm-19 {
    margin-bottom: 17rem !important;
    margin-left: 17rem !important;
}

.mbs-sm-20 {
    margin-bottom: 18rem !important;
    margin-left: 18rem !important;
}

.mbs-sm-21 {
    margin-bottom: 19rem !important;
    margin-left: 19rem !important;
}

.mbs-sm-22 {
    margin-bottom: 20rem !important;
    margin-left: 20rem !important;
}

.mbs-sm-23 {
    margin-bottom: 21rem !important;
    margin-left: 21rem !important;
}

.mbs-sm-24 {
    margin-bottom: 22rem !important;
    margin-left: 22rem !important;
}

.mbs-sm-25 {
    margin-bottom: 23rem !important;
    margin-left: 23rem !important;
}

.mbs-sm-26 {
    margin-bottom: 24rem !important;
    margin-left: 24rem !important;
}

.mbs-sm-27 {
    margin-bottom: 25rem !important;
    margin-left: 25rem !important;
}

.mbs-sm-28 {
    margin-bottom: 26rem !important;
    margin-left: 26rem !important;
}

.mbs-sm-29 {
    margin-bottom: 27rem !important;
    margin-left: 27rem !important;
}

.mbs-sm-30 {
    margin-bottom: 28rem !important;
    margin-left: 28rem !important;
}

.mbs-sm-31 {
    margin-bottom: 29rem !important;
    margin-left: 29rem !important;
}

.mbs-sm-32 {
    margin-bottom: 30rem !important;
    margin-left: 30rem !important;
}

.mbs-sm-33 {
    margin-bottom: 31rem !important;
    margin-left: 31rem !important;
}

.mbs-sm-34 {
    margin-bottom: 32rem !important;
    margin-left: 32rem !important;
}

.mbs-sm-35 {
    margin-bottom: 33rem !important;
    margin-left: 33rem !important;
}

.mbs-sm-36 {
    margin-bottom: 34rem !important;
    margin-left: 34rem !important;
}

.mbs-sm-37 {
    margin-bottom: 35rem !important;
    margin-left: 35rem !important;
}

.mbs-sm-38 {
    margin-bottom: 36rem !important;
    margin-left: 36rem !important;
}

.mbs-sm-39 {
    margin-bottom: 37rem !important;
    margin-left: 37rem !important;
}

.mbs-sm-40 {
    margin-bottom: 38rem !important;
    margin-left: 38rem !important;
}

.mbs-sm-41 {
    margin-bottom: 39rem !important;
    margin-left: 39rem !important;
}

.mbs-sm-42 {
    margin-bottom: 40rem !important;
    margin-left: 40rem !important;
}

.mbs-sm-43 {
    margin-bottom: 41rem !important;
    margin-left: 41rem !important;
}

.mbs-sm-44 {
    margin-bottom: 42rem !important;
    margin-left: 42rem !important;
}

.mbs-sm-45 {
    margin-bottom: 43rem !important;
    margin-left: 43rem !important;
}

.mbs-sm-46 {
    margin-bottom: 44rem !important;
    margin-left: 44rem !important;
}

.mbs-sm-47 {
    margin-bottom: 45rem !important;
    margin-left: 45rem !important;
}

.mbs-sm-48 {
    margin-bottom: 46rem !important;
    margin-left: 46rem !important;
}

.mbs-sm-49 {
    margin-bottom: 47rem !important;
    margin-left: 47rem !important;
}

.mbs-sm-50 {
    margin-bottom: 48rem !important;
    margin-left: 48rem !important;
}

.mbe-sm-0{
    margin-bottom: 0 !important;
    margin-right: 0 !important;
}

.mbe-sm-1{
    margin-bottom: 0.25rem !important;
    margin-right: 0.25rem !important;
}

.mbe-sm-2{
    margin-bottom: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.mbe-sm-3{
    margin-bottom: 1rem !important;
    margin-right: 1rem !important;
}

.mbe-sm-4{
    margin-bottom: 1.5rem !important;
    margin-right: 1.5rem !important;
}

.mbe-sm-5{
    margin-bottom: 3rem !important;
    margin-right: 3rem !important;
}

.mbe-sm-6{
    margin-bottom: 4rem !important;
    margin-right: 4rem !important;
}

.mbe-sm-7{
    margin-bottom: 5rem !important;
    margin-right: 5rem !important;
}

.mbe-sm-8 {
    margin-bottom: 6rem !important;
    margin-right: 6rem !important;
}

.mbe-sm-9 {
    margin-bottom: 7rem !important;
    margin-right: 7rem !important;
}

.mbe-sm-10 {
    margin-bottom: 8rem !important;
    margin-right: 8rem !important;
}

.mbe-sm-11 {
    margin-bottom: 9rem !important;
    margin-right: 9rem !important;
}

.mbe-sm-12 {
    margin-bottom: 10rem !important;
    margin-right: 10rem !important;
}

.mbe-sm-13 {
    margin-bottom: 11rem !important;
    margin-right: 11rem !important;
}

.mbe-sm-14 {
    margin-bottom: 12rem !important;
    margin-right: 12rem !important;
}

.mbe-sm-15 {
    margin-bottom: 13rem !important;
    margin-right: 13rem !important;
}

.mbe-sm-16 {
    margin-bottom: 14rem !important;
    margin-right: 14rem !important;
}

.mbe-sm-17 {
    margin-bottom: 15rem !important;
    margin-right: 15rem !important;
}

.mbe-sm-18 {
    margin-bottom: 16rem !important;
    margin-right: 16rem !important;
}

.mbe-sm-19 {
    margin-bottom: 17rem !important;
    margin-right: 17rem !important;
}

.mbe-sm-20 {
    margin-bottom: 18rem !important;
    margin-right: 18rem !important;
}

.mbe-sm-21 {
    margin-bottom: 19rem !important;
    margin-right: 19rem !important;
}

.mbe-sm-22 {
    margin-bottom: 20rem !important;
    margin-right: 20rem !important;
}

.mbe-sm-23 {
    margin-bottom: 21rem !important;
    margin-right: 21rem !important;
}

.mbe-sm-24 {
    margin-bottom: 22rem !important;
    margin-right: 22rem !important;
}

.mbe-sm-25 {
    margin-bottom: 23rem !important;
    margin-right: 23rem !important;
}

.mbe-sm-26 {
    margin-bottom: 24rem !important;
    margin-right: 24rem !important;
}

.mbe-sm-27 {
    margin-bottom: 25rem !important;
    margin-right: 25rem !important;
}

.mbe-sm-28 {
    margin-bottom: 26rem !important;
    margin-right: 26rem !important;
}

.mbe-sm-29 {
    margin-bottom: 27rem !important;
    margin-right: 27rem !important;
}

.mbe-sm-30 {
    margin-bottom: 28rem !important;
    margin-right: 28rem !important;
}

.mbe-sm-31 {
    margin-bottom: 29rem !important;
    margin-right: 29rem !important;
}

.mbe-sm-32 {
    margin-bottom: 30rem !important;
    margin-right: 30rem !important;
}

.mbe-sm-33 {
    margin-bottom: 31rem !important;
    margin-right: 31rem !important;
}

.mbe-sm-34 {
    margin-bottom: 32rem !important;
    margin-right: 32rem !important;
}

.mbe-sm-35 {
    margin-bottom: 33rem !important;
    margin-right: 33rem !important;
}

.mbe-sm-36 {
    margin-bottom: 34rem !important;
    margin-right: 34rem !important;
}

.mbe-sm-37 {
    margin-bottom: 35rem !important;
    margin-right: 35rem !important;
}

.mbe-sm-38 {
    margin-bottom: 36rem !important;
    margin-right: 36rem !important;
}

.mbe-sm-39 {
    margin-bottom: 37rem !important;
    margin-right: 37rem !important;
}

.mbe-sm-40 {
    margin-bottom: 38rem !important;
    margin-right: 38rem !important;
}

.mbe-sm-41 {
    margin-bottom: 39rem !important;
    margin-right: 39rem !important;
}

.mbe-sm-42 {
    margin-bottom: 40rem !important;
    margin-right: 40rem !important;
}

.mbe-sm-43 {
    margin-bottom: 41rem !important;
    margin-right: 41rem !important;
}

.mbe-sm-44 {
    margin-bottom: 42rem !important;
    margin-right: 42rem !important;
}

.mbe-sm-45 {
    margin-bottom: 43rem !important;
    margin-right: 43rem !important;
}

.mbe-sm-46 {
    margin-bottom: 44rem !important;
    margin-right: 44rem !important;
}

.mbe-sm-47 {
    margin-bottom: 45rem !important;
    margin-right: 45rem !important;
}

.mbe-sm-48 {
    margin-bottom: 46rem !important;
    margin-right: 46rem !important;
}

.mbe-sm-49 {
    margin-bottom: 47rem !important;
    margin-right: 47rem !important;
}

.mbe-sm-50 {
    margin-bottom: 48rem !important;
    margin-right: 48rem !important;
}
